section {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-blue {
  background-color: lightblue;
}

.bg-orange {
  background-color: orange;
}

.bg-pink {
  background-color: pink;
}
