div > p {
  padding: 0 2rem;
}
div > h1 ~ p {
  color: grey;
}

div > h1 + p {
  color: black;
  font-style: italic;
}

div > h2 ~ p {
  color: black;
  text-decoration: underline;
}

div > h3 ~ p {
  color: blue;
}

div > h3 + p {
  color: black;
}
